<!DOCTYPE html>
<html>
	<head>
		<title>
			<% if(typeof(stream_url) != "undefined") { %>
				<%= stream_name %> - Iceberry
			<% } else { %>	
				Iceberry - Rohit. Manohar
			<% } %>	
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!-- Jquery -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>


		<!-- Twitter Bootstrap -->
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<script type="text/javascript">
			var host = '<%= server_host_name %>';
			var port = '<%= server_port %>';

			disableControls = function(){
				$('#url').attr('disabled','disabled');
				$('#play').attr('disabled','disabled');
				$('#stop').attr('disabled','disabled');
				$('#stop_button_title').html('Hang on..');
			}

			enableControls = function(){
				$('#url').removeAttr('disabled');
				$('#play').removeAttr('disabled');
				$('#stop').removeAttr('disabled');
				$('#stop_button_title').html('Stop');
			}

			stopRadio = function(callback){
				disableControls();

				$.get('/stop', function(resp){
					if(resp.status==200){
						if(typeof(callback) != "undefined"){
							callback();
						}						
					}
				}).always(function(){
					enableControls();	
				});
				
				$('#now-playing').html('');
			}

			playUrl = function(url){
				$('#play').attr('disabled','disabled');
				$.post('/read_stream',{"url":url}, function(resp){
					if(resp.status!=200){ return; }

					$('#now-playing').html('<strong> Now Playing : </strong>&nbsp;'+resp.data.streamInfo.name);
				}).always(function(){
					$('#play').removeAttr('disabled');
				});
			}

			$(document).ready(function(){
				$('#play').click(function(e){
					e.preventDefault();

					stopRadio(function(){
						playUrl($('#url').val());
					});
				})

				$('#stop').click(function(e){
					e.preventDefault();
					stopRadio();
				});

				<% if(typeof(stream_url) != "undefined") { %>
					$('#url').val('<%= stream_url %>');
				<% } %>	
			});
		</script>
	</head>

	<body>
		<div class="container well" style="margin-top:20px;">
			<div class="row">
				<div class="col-md-12">
					<img src="http://www.raspberrypi.org/wp-content/uploads/2012/03/Raspi_Colour_R.png" style="height:50px;"/>&nbsp;&nbsp;&nbsp;
					<span style = "font-size:30px;" class="lead">
						Iceberry Player - Rohit. Manohar
					</span>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<input type="text" size="10" placeholder="Icecast URL" style="height:50px;font-size:25px;" class="col-md-8" id="url"/>
				</div>
				<div class="col-md-4">
					<button id="play" class="btn btn-primary btn-lg" style="height:60px;margin-bottom:10px;"><span class="glyphicon glyphicon-play"></span>&nbsp;<span id="play_button_title">Play</span></button>
					<button id="stop" class="btn btn-danger btn-lg" style="height:60px;margin-bottom:10px;"><span class="glyphicon glyphicon-stop"></span>&nbsp;<span id="stop_button_title">Stop</span></button>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<span id="now-playing" style="font-size:25px;Font-Family: 'Trebuchet MS', Helvetica, sans-serif">
						<% if(typeof(stream_url) != "undefined") { %>
							<strong> Now Playing : </strong>
							<%= stream_name %>
						<% } %>	
					</span>		
				</div>
			</div>		
		</div>	
	</body>
</html>